body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  /* background-image: url(''); */
  background-size: cover;
  background-attachment: fixed;

}

.medical-history-container {
  font-size: 17px;  
  position: relative;
  top: 650px;
  left: 300px;
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  /* background-color: rgb(131, 178, 185); */
  background-color: aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: black;
  /* font-weight: 100; */
  /* text-decoration: underline; */
  margin-bottom: 20px;
}

h2{
  color: black;
  text-decoration: underline;
}

.medical-history-container+ h2 {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}

.medical-history-section {
  margin-bottom: 20px;
}

.one {
  display: inline-block;
  position: relative;
  top: 6px;
  width: 120px;
  margin-right: 10px;
  margin-left: 10px;
}

.checkbox-group {
  display: flex;
  /* justify-content: center; */
  /* position: relative; */
  align-items: center;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 20px; /* Increase the width to make the checkbox bigger */
  height: 20px; /* Increase the height to make the checkbox bigger */
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-right: 5px; /* Add margin to create space between checkbox and text */
}

input[type="checkbox"]:checked {
  background-color: #333;
  border-color: #333;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  display: inline-block;
  font-size: 16px; /* Increase the font-size to make the tick bigger */
  color: #fff;
  text-align: center;
  line-height: 20px; /* Increase the line-height to vertically center the checkmark */
}

.family-history-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  background-color: white;
}

.submit-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.medical-history-container:hover {
  box-shadow: 2px 2px 10px aliceblue;
}

.family-history-textarea:hover {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 5px aliceblue;
}
